.container {
    display: flex;
    flex-direction: column;
}

/* Navigation */

.navigation{
    display: flex;
    flex-wrap: wrap;
}

.Logo {

}

.Links {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

/* Hero */

.hero {

}

/* Content */

.content {
    
}

/* Quote */

.quote {

}

/* Sign-up */

.signup {

}

/* Footer */

.footer {

}